:root {
  --bs-heading-color: #424242 !important;
}

h1 {
  margin-bottom: 3rem !important;
}

main{
  max-width: 980px;
  margin: 0 auto;
}

img.poster {
  width: 100%;
  max-width: 480px;
}

footer {
  text-wrap: balance;
}

.footer-logos {
  max-width: 400px;
}

#back-to-top {
  width: 10rem;
  right: 0;
  left: auto;
  padding-left: 0 !important;
}

body[data-bs-theme="dark"] .play-list-container{
  background-color: #6c757d !important;
}

body[data-bs-theme="dark"] .play-list-container .player .large-toggle-btn,
body[data-bs-theme="dark"] .play-list-container .play-list .play-list-row .small-toggle-btn{
  border-color: #6c757d !important;
}

body[data-bs-theme="dark"] .play-list-container .play-list .play-list-row .track-title .playlist-track{
  color: #d9d9d9 !important;
}